img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30%;
    border-style: outset;
    border-width: 3px;
    border-color: #13F0EC;
}
h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    margin-bottom: 0px;
    margin-top: 10px;
    border-style: ridge;
    border-color: #13F0EC;
    border-radius: 10px;
    padding: 10px;
    padding-top: 6px !important;
}
p {
    text-align: center;
    color: #ffffff;
    background-color: rgb(2, 0, 0);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}
body {
    font-size: 18px;
    background-color: rgb(2, 0, 0);
    color: #ffffff;
}
li {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    align-items: center;
}
h2 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
h4 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* General Classes */
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.buttons ul {
    display: inline-block;
}

/* E&D Page Classes */
.centeredtext {
    text-align: center;
    justify-content: center;
    list-style-type: disc;
}
.centeredlist {
    justify-content: center;
    list-style-position: inside;
    text-align: auto;
}
.edimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* Index Page Classes */
.digitalportfolio {
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: -30px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color:#ffffff;
}

/* Math Page IDs */
#course-description {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
}
#assignment-list {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
}
#banner-title {
    font-family: 'Arial Black', sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}
#banner-title1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

/* Math Page img extra style */

#mathimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    width: 50% !important;
}

/* English Page Image */
#englishimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    height: 250px !important;
    width: 500px !important;
}

/* Science Page Image */
#scienceimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    height: 300px !important;
    width: 500px !important;
}

/* Home Page Image */
#homeimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    height: 300px !important;
    width: 500px !important;
}

/* History Page Image */
#historyimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    height: 300px !important;
    width: 500px !important;
}

/* Drama Page Image */
#dramaimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    height: 300px !important;
    width: 500px !important;
}

/* Spanish Page Image */
#spanishimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    height: 300px !important;
    width: 500px !important;
}

/* Contact Page Image */
#contactimg {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 20px !important;
    height: 300px !important;
    width: 500px !important;
}